##  Milestone 3 - Final Project

**Name: Denilson Wilson Aguilar Molina**

**Date: 04/23/2024**

In [48]:
#Importing pandas
import pandas as pd

This is where the dataset is read into a pandas dataframe.

In [49]:
df = pd.read_csv('imdb_movies.csv')

I used the column property to view the column names and review each name individually.

In [50]:
print(df.columns)

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

After reviewing each name I figured that some column names could be simplified even more, such as changing Poster_Link to Poster, I renamed only a few of them and kept the name for the ones that didn't need to be changed

In [51]:
df.columns = ["Poster","Title","Year","Certificate","Runtime","Genre","Rating","Overview","Metascore","Director","Star1","Star2","Star3","Star4","Votes","Gross"]

In [52]:
#This will display the changed column names
print(df.columns)

Index(['Poster', 'Title', 'Year', 'Certificate', 'Runtime', 'Genre', 'Rating',
       'Overview', 'Metascore', 'Director', 'Star1', 'Star2', 'Star3', 'Star4',
       'Votes', 'Gross'],
      dtype='object')

This other change is from viewing the data frame itself in excel, I noticed that some rows under certain columns were empty, such as under the 'certificate' column. I decided to to replace them with instead, it doesn't make sense to leave them empty 'NaN'.

In [53]:
df['Certificate'].fillna('Not Rated', inplace=True)
df['Gross'].fillna('Unknown', inplace=True) 
df['Metascore'].fillna('No Score', inplace=True)

I've also noticed that for at rows under 'Genre' there are multiple genre under each of them. I decided to simplify it by seperating the items in the column instead of leaving them all in the same one. This will make it easier to review and look upon the data itself, I decided it was best since it would make looking at it easier, It wouldn't be bunched up together.

In [54]:
#This converts the 'Genre' column into strings
df['Genre'] = df['Genre'].astype(str)

#This splits the 'Genre' column into lists
df['Genre'] = df['Genre'].str.split(',')

#This extracts the first, second, and third genre into new columns
df['Genre1'] = df['Genre'].str[0]
df['Genre2'] = df['Genre'].str[1]
df['Genre3'] = df['Genre'].str[2]


#This removes the original 'Genre' column after the splitting
df.drop('Genre', axis=1, inplace=True)
#I did not want to have it repeating

Below I'm saving the file as a new cleaned file

In [55]:
df.to_csv('cleaned_imdb_movies.csv', index=False)

In [56]:
df.head()

,Poster,Title,Year,Certificate,Runtime,Rating,Overview,Metascore,Director,Star1,Star2,Star3,Star4,Votes,Gross,Genre1,Genre2,Genre3
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Drama,NaN,NaN
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",Crime,Drama,NaN
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",Action,Crime,Drama
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",Crime,Drama,NaN
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000",Crime,Drama,NaN